In [1]:
import pandas as pd
import numpy as np
pd.read_csv('messydata.csv')

,Unnamed: 0,IMBD title ID,Original titlÊ,Release year,Genrë¨,Duration,Country,Content Rating,Director,Unnamed: 8,Income,Votes,Score
0,0,tt0111161,The Shawshank Redemption,1995-02-10,Drama,142,USA,R,Frank Darabont,NaN,$ 28815245,2.278.845,9.3
1,1,tt0068646,The Godfather,09 21 1972,"Crime, Drama",175,USA,R,Francis Ford Coppola,NaN,$ 246120974,1.572.674,9.2
2,2,tt0468569,The Dark Knight,23 -07-2008,"Action, Crime, Drama",152,US,PG-13,Christopher Nolan,NaN,$ 1005455211,2.241.615,9.
3,3,tt0071562,The Godfather: Part II,1975-09-25,"Crime, Drama",220,USA,R,Francis Ford Coppola,NaN,"$ 4o8,035,783",1.098.714,"9,.0"
4,4,tt0110912,Pulp Fiction,1994-10-28,"Crime, Drama",,USA,R,Quentin Tarantino,NaN,$ 222831817,1.780.147,"8,9f"
...,...,...,...,...,...,...,...,...,...,...,...,...,...
96,96,tt0070735,The Sting,1974-03-21,"Comedy, Crime, Drama",129,USA,PG,George Roy Hill,NaN,$ 156000000,236.285,7.5
97,97,tt0082096,Das Boot,1982-03-18,"Adventure, Drama, Thriller",149,West Germany,R,Wolfgang Petersen,NaN,$ 11487676,226.427,7.5
98,98,tt0059578,Per qualche dollaro in piÃ¹,1965-12-20,Western,132,Italy,NaN,Sergio Leone,NaN,$ 15000000,226.039,7.4
99,99,tt1832382,Jodaeiye Nader az Simin,2011-10-21,Drama,123,Iran,PG-13,Asghar Farhadi,NaN,$ 22926076,214.165,7.4
100,100,tt0045152,Singin' in the Rain,1953-02-05,"Comedy, Musical, Romance",103,USA,NaN,Stanley Donen,NaN,$ 1864182,213.152,7.4

In [2]:
md=pd.read_csv('messydata.csv')

####  Virtual assessment for data cleaning:
 1) Rename all the column name and make them all lowercase
 
 2) Drop irrelevants columns not needed for the analysis 
 
 3) Split the tt associated to tittle id to show just the unique id 

 4) Format the release year date to be consistent uisng datetime function
 
 5) Split the genere and select the first genre for each movie
 
 6) Rename the abbreviated column in the country column and show the prefix of each country
 
 7) Convert income column from string to integer( by removing the dollar sign and change the data type)

 8) Remove non digit values from the income
 
 9) Remove all leading and trailing spaces

In [3]:
# To convert columns name to lowercase
md.columns=md.columns.str.lower()

In [4]:
md.head(5)

,unnamed: 0,imbd title id,original titlê,release year,genrë¨,duration,country,content rating,director,unnamed: 8,income,votes,score
0,0,tt0111161,The Shawshank Redemption,1995-02-10,Drama,142,USA,R,Frank Darabont,NaN,$ 28815245,2.278.845,9.3
1,1,tt0068646,The Godfather,09 21 1972,"Crime, Drama",175,USA,R,Francis Ford Coppola,NaN,$ 246120974,1.572.674,9.2
2,2,tt0468569,The Dark Knight,23 -07-2008,"Action, Crime, Drama",152,US,PG-13,Christopher Nolan,NaN,$ 1005455211,2.241.615,9.
3,3,tt0071562,The Godfather: Part II,1975-09-25,"Crime, Drama",220,USA,R,Francis Ford Coppola,NaN,"$ 4o8,035,783",1.098.714,"9,.0"
4,4,tt0110912,Pulp Fiction,1994-10-28,"Crime, Drama",,USA,R,Quentin Tarantino,NaN,$ 222831817,1.780.147,"8,9f"

In [5]:
## To remove trailing spaces from the column names 
md.columns.str.replace(' ','_')

Index(['unnamed:_0', 'imbd_title_id', 'original_titlê', 'release_year',
       'genrë¨', 'duration', 'country', 'content_rating', 'director',
       'unnamed:_8', 'income', '_votes_', 'score'],
      dtype='object')

In [6]:
#To rename Columns 
md.rename(columns={'imbd title id' :'title_id','original titlê' :'original_title','content rating' :'content_rating','genrë¨' :'genre','release year' :'release_year'},inplace=True)

In [7]:
### To drop columns
md.drop(md.columns[[0, 9,5,11]], axis=1, inplace=True)

In [8]:
md.head(5)

,title_id,original_title,release_year,genre,country,content_rating,director,income,score
0,tt0111161,The Shawshank Redemption,1995-02-10,Drama,USA,R,Frank Darabont,$ 28815245,9.3
1,tt0068646,The Godfather,09 21 1972,"Crime, Drama",USA,R,Francis Ford Coppola,$ 246120974,9.2
2,tt0468569,The Dark Knight,23 -07-2008,"Action, Crime, Drama",US,PG-13,Christopher Nolan,$ 1005455211,9.
3,tt0071562,The Godfather: Part II,1975-09-25,"Crime, Drama",USA,R,Francis Ford Coppola,"$ 4o8,035,783","9,.0"
4,tt0110912,Pulp Fiction,1994-10-28,"Crime, Drama",USA,R,Quentin Tarantino,$ 222831817,"8,9f"

In [9]:
md.shape

(101, 9)

In [10]:
md.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 101 entries, 0 to 100
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   title_id        100 non-null    object
 1   original_title  100 non-null    object
 2   release_year    100 non-null    object
 3   genre           100 non-null    object
 4   country         100 non-null    object
 5   content_rating  77 non-null     object
 6   director        100 non-null    object
 7   income          100 non-null    object
 8   score           100 non-null    object
dtypes: object(9)
memory usage: 7.2+ KB

In [11]:
md.duplicated()

0      False
1      False
2      False
3      False
4      False
       ...
96     False
97     False
98     False
99     False
100    False
Length: 101, dtype: bool

In [12]:
##To split and reassigning back to the column
md['title_id']=md['title_id'].str.split('tt',expand=True)[1]

In [13]:
md.head()

,title_id,original_title,release_year,genre,country,content_rating,director,income,score
0,0111161,The Shawshank Redemption,1995-02-10,Drama,USA,R,Frank Darabont,$ 28815245,9.3
1,0068646,The Godfather,09 21 1972,"Crime, Drama",USA,R,Francis Ford Coppola,$ 246120974,9.2
2,0468569,The Dark Knight,23 -07-2008,"Action, Crime, Drama",US,PG-13,Christopher Nolan,$ 1005455211,9.
3,0071562,The Godfather: Part II,1975-09-25,"Crime, Drama",USA,R,Francis Ford Coppola,"$ 4o8,035,783","9,.0"
4,0110912,Pulp Fiction,1994-10-28,"Crime, Drama",USA,R,Quentin Tarantino,$ 222831817,"8,9f"

In [14]:
md.release_year

0        1995-02-10
1        09 21 1972
2       23 -07-2008
3        1975-09-25
4        1994-10-28
           ...
96       1974-03-21
97       1982-03-18
98       1965-12-20
99       2011-10-21
100      1953-02-05
Name: release_year, Length: 101, dtype: object

In [15]:
##To change the date format
md.release_year = pd.to_datetime(md.release_year, errors='coerce')

C:\Users\aroko\AppData\Local\Temp\ipykernel_4812\971672341.py:2: UserWarning: Parsing '18/11/1976' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  md.release_year = pd.to_datetime(md.release_year, errors='coerce')

In [16]:
md.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 101 entries, 0 to 100
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   title_id        100 non-null    object
 1   original_title  100 non-null    object
 2   release_year    97 non-null     datetime64[ns]
 3   genre           100 non-null    object
 4   country         100 non-null    object
 5   content_rating  77 non-null     object
 6   director        100 non-null    object
 7   income          100 non-null    object
 8   score           100 non-null    object
dtypes: datetime64[ns](1), object(8)
memory usage: 7.2+ KB

In [17]:
md.head(5)

,title_id,original_title,release_year,genre,country,content_rating,director,income,score
0,0111161,The Shawshank Redemption,1995-02-10,Drama,USA,R,Frank Darabont,$ 28815245,9.3
1,0068646,The Godfather,1972-09-21,"Crime, Drama",USA,R,Francis Ford Coppola,$ 246120974,9.2
2,0468569,The Dark Knight,2008-07-23,"Action, Crime, Drama",US,PG-13,Christopher Nolan,$ 1005455211,9.
3,0071562,The Godfather: Part II,1975-09-25,"Crime, Drama",USA,R,Francis Ford Coppola,"$ 4o8,035,783","9,.0"
4,0110912,Pulp Fiction,1994-10-28,"Crime, Drama",USA,R,Quentin Tarantino,$ 222831817,"8,9f"

In [18]:
### To split the genre column
md['genre'].str.split(',',expand=True)

             0         1          2
0        Drama      None       None
1        Crime     Drama       None
2       Action     Crime      Drama
3        Crime     Drama       None
4        Crime     Drama       None
..         ...       ...        ...
96      Comedy     Crime      Drama
97   Adventure     Drama   Thriller
98     Western      None       None
99       Drama      None       None
100     Comedy   Musical    Romance

[101 rows x 3 columns]

In [19]:
#Assign the splited genre to its main column
md['genre']=md['genre'].str.split(',',expand=True)[0]

In [20]:
### To replace cells in a country column 
md['country']=md['country'].replace(['US','New Zeland','New Zesland','West Germany'],
                                    ['USA','New Zealand','New Zealand','Germany'])

In [21]:
md.country.value_counts()

USA            63
UK             12
Italy           4
Japan           4
New Zealand     3
France          3
Germany         3
South Korea     2
US.             1
Brazil          1
Italy1          1
India           1
Denmark         1
Iran            1
Name: country, dtype: int64

In [22]:
md

,title_id,original_title,release_year,genre,country,content_rating,director,income,score
0,0111161,The Shawshank Redemption,1995-02-10,Drama,USA,R,Frank Darabont,$ 28815245,9.3
1,0068646,The Godfather,1972-09-21,Crime,USA,R,Francis Ford Coppola,$ 246120974,9.2
2,0468569,The Dark Knight,2008-07-23,Action,USA,PG-13,Christopher Nolan,$ 1005455211,9.
3,0071562,The Godfather: Part II,1975-09-25,Crime,USA,R,Francis Ford Coppola,"$ 4o8,035,783","9,.0"
4,0110912,Pulp Fiction,1994-10-28,Crime,USA,R,Quentin Tarantino,$ 222831817,"8,9f"
...,...,...,...,...,...,...,...,...,...
96,0070735,The Sting,1974-03-21,Comedy,USA,PG,George Roy Hill,$ 156000000,7.5
97,0082096,Das Boot,1982-03-18,Adventure,Germany,R,Wolfgang Petersen,$ 11487676,7.5
98,0059578,Per qualche dollaro in piÃ¹,1965-12-20,Western,Italy,NaN,Sergio Leone,$ 15000000,7.4
99,1832382,Jodaeiye Nader az Simin,2011-10-21,Drama,Iran,PG-13,Asghar Farhadi,$ 22926076,7.4
100,0045152,Singin' in the Rain,1953-02-05,Comedy,USA,NaN,Stanley Donen,$ 1864182,7.4

In [23]:
md.content_rating.value_counts()

R            45
PG-13        12
PG           11
G             6
Not Rated     1
Approved      1
Unrated       1
Name: content_rating, dtype: int64

In [24]:
### To replace content_rating cells
md['content_rating'] = md['content_rating'].replace(['Approved', 'Unrated','G','PG','R'], ['Rated','Not Rated','PG-13','PG-13','Rated'])

In [25]:
md.content_rating.value_counts()

Rated        46
PG-13        29
Not Rated     2
Name: content_rating, dtype: int64

In [26]:
md

,title_id,original_title,release_year,genre,country,content_rating,director,income,score
0,0111161,The Shawshank Redemption,1995-02-10,Drama,USA,Rated,Frank Darabont,$ 28815245,9.3
1,0068646,The Godfather,1972-09-21,Crime,USA,Rated,Francis Ford Coppola,$ 246120974,9.2
2,0468569,The Dark Knight,2008-07-23,Action,USA,PG-13,Christopher Nolan,$ 1005455211,9.
3,0071562,The Godfather: Part II,1975-09-25,Crime,USA,Rated,Francis Ford Coppola,"$ 4o8,035,783","9,.0"
4,0110912,Pulp Fiction,1994-10-28,Crime,USA,Rated,Quentin Tarantino,$ 222831817,"8,9f"
...,...,...,...,...,...,...,...,...,...
96,0070735,The Sting,1974-03-21,Comedy,USA,PG-13,George Roy Hill,$ 156000000,7.5
97,0082096,Das Boot,1982-03-18,Adventure,Germany,Rated,Wolfgang Petersen,$ 11487676,7.5
98,0059578,Per qualche dollaro in piÃ¹,1965-12-20,Western,Italy,NaN,Sergio Leone,$ 15000000,7.4
99,1832382,Jodaeiye Nader az Simin,2011-10-21,Drama,Iran,PG-13,Asghar Farhadi,$ 22926076,7.4
100,0045152,Singin' in the Rain,1953-02-05,Comedy,USA,NaN,Stanley Donen,$ 1864182,7.4

In [27]:
##To show all the rows in the dataset
pd.set_option('display.max_rows',None)

In [28]:
md

,title_id,original_title,release_year,genre,country,content_rating,director,income,score
0,0111161,The Shawshank Redemption,1995-02-10,Drama,USA,Rated,Frank Darabont,$ 28815245,9.3
1,0068646,The Godfather,1972-09-21,Crime,USA,Rated,Francis Ford Coppola,$ 246120974,9.2
2,0468569,The Dark Knight,2008-07-23,Action,USA,PG-13,Christopher Nolan,$ 1005455211,9.
3,0071562,The Godfather: Part II,1975-09-25,Crime,USA,Rated,Francis Ford Coppola,"$ 4o8,035,783","9,.0"
4,0110912,Pulp Fiction,1994-10-28,Crime,USA,Rated,Quentin Tarantino,$ 222831817,"8,9f"
5,0167260,The Lord of the Rings: The Return of the King,2004-02-22,Action,New Zealand,PG-13,Peter Jackson,$ 1142271098,08.9
6,0108052,Schindler's List,1994-03-11,Biography,USA,Rated,Steven Spielberg,$ 322287794,8.9
7,0050083,12 Angry Men,1957-09-04,Crime,USA,Not Rated,Sidney Lumet,$ 576,8.9
8,1375666,Inception,2010-09-24,Action,USA,PG-13,Christopher Nolan,$ 869784991,8..8
9,0137523,Fight Club,1999-10-29,Drama,UK,Rated,David Fincher,$ 101218804,8.8
10,0109830,Forrest Gump,1994-10-06,Drama,USA,PG-13,Robert Zemeckis,$ 678229452,8:8
11,0120737,The Lord of the Rings: The Fellowship of the Ring,2002-01-18,Action,New Zealand,PG-13,Peter Jackson,$ 887934303,8.8
12,0060196,"Il buono, il brutto, il cattivo",1966-12-23,Western,Italy,Rated,Sergio Leone,$ 25252481,8.8
13,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN
14,0133093,The Matrix,1999-05-07,Action,USA,Rated,"Lana Wachowski, Lilly Wachowski",$ 465718588,++8.7
15,0167261,The Lord of the Rings: The Two Towers,2003-01-16,Action,New Zealand,PG-13,Peter Jackson,$ 951227416,8.7.
16,0080684,Star Wars: Episode V - The Empire Strikes Back,1980-09-19,Action,USA,PG-13,Irvin Kershner,$ 549265501,"8,7e-0"
17,0099685,Goodfellas,1990-09-20,Biography,USA,Rated,Martin Scorsese,$ 46879633,8.7
18,0073486,One Flew Over the Cuckoo's Nest,1976-11-18,Drama,USA,Rated,Milos Forman,$ 108997629,8.7
19,0816692,Interstellar,2014-11-06,Adventure,USA,PG-13,Christopher Nolan,$ 696742056,8.6
20,0114369,Se7en,1995-12-15,Crime,USA,Rated,David Fincher,$ 327333559,8.6
21,0102926,The Silence of the Lambs,1991-03-05,Crime,USA,Rated,Jonathan Demme,$ 272753884,"8,6"
22,0076759,Star Wars,1977-10-20,Action,USA,PG-13,George Lucas,$ 775768912,8.6
23,0120815,Saving Private Ryan,1998-10-30,Drama,USA,Rated,Steven Spielberg,$ 482349603,8.6
24,0120689,The Green Mile,2000-10-03,Crime,US.,Rated,Frank Darabont,$ 286801374,8.6
25,0317248,Cidade de Deus,2003-05-09,Crime,Brazil,Rated,"Fernando Meirelles, KÃ¡tia Lund",$ 30680793,8.6
26,0245429,Sen to Chihiro no kamikakushi,2003-04-18,Animation,Japan,PG-13,Hayao Miyazaki,$ 355467056,8.6
27,0118799,La vita B9 bella,1997-12-20,Comedy,Italy1,NaN,Roberto Benigni,$ 230098753,8.6
28,6751668,Gisaengchung,2019-11-07,Comedy,South Korea,NaN,Bong Joon Ho,$ 257604912,8.6
29,0038650,It's a Wonderful Life,1948-03-11,Drama,USA,PG-13,Frank Capra,$ 6130720,8.6
30,0047478,Shichinin no samurai,1955-08-19,Action,Japan,Not Rated,Akira Kurosawa,$ 322773,8.6
31,0172495,Gladiator,2000-05-19,Action,USA,Rated,Ridley Scott,$ 465361176,8.5
32,0407887,The Departed,2006-10-27,Crime,USA,Rated,Martin Scorsese,$ 291465034,8.5
33,0482571,The Prestige,2006-12-22,Drama,UK,PG-13,Christopher Nolan,$ 109676311,8.5
34,0088763,Back to the Future,1985-10-18,Adventure,USA,PG-13,Robert Zemeckis,$ 388774684,8.5
35,0120586,American History X,1999-08-27,Drama,USA,Rated,Tony Kaye,$ 23875127,8.5
36,0110413,LÃ©on,1995-04-07,Action,France,NaN,Luc Besson,$ 19552639,8.5
37,0103064,Terminator 2: Judgment Day,1991-12-19,Action,USA,Rated,James Cameron,$ 520884847,8.4
38,0114814,The Usual Suspects,1995-11-30,Crime,USA,Rated,Bryan Singer,$ 23341568,8.4
39,0110357,The Lion King,1994-11-25,Animation,USA,PG-13,"Roger Allers, Rob Minkoff",$ 968511805,8.4
40,7286456,Joker,2019-10-03,Crime,USA,NaN,Todd Phillips,$ 1074251311,8.4
41,1675434,Intouchables,2012-02-24,Biography,France,NaN,"Olivier Nakache, Ãric Toledano",$ 426588510,8.4
42,0253474,The Pianist,2002-10-25,Biography,UK,Rated,Roman Polanski,$ 120072577,8.4
43,2582802,Whiplash,2015-02-12,Drama,USA,Rated,Damien Chazelle,$ 48983260,8.4
44,0054215,Psycho,1960-10-28,Horror,USA,Rated,Alfred Hitchcock,$ 32008644,8.3
45,0034583,Casablanca,2046-11-21,Drama,USA,PG-13,Michael Curtiz,$ 4374761,8.3
46,0064116,C'era una volta il West,1968-12-21,Western,Italy,PG-13,Sergio Leone,$ 112911,8.3
47,0095327,Hotaru no haka,2015-10-11,Animation,Japan,NaN,Isao Takahata,$ 516962,8.3
48,0095765,Nuovo Cinema Paradiso,1988-11-17,Drama,Italy,NaN,Giuseppe Tornatore,$ 13826605,8.3
49,0027977,Modern Times,1937-03-12,Comedy,USA,PG-13,Charles Chaplin,$ 457688,8.3
50,1345836,The Dark Knight Rises,2012-08-29,Action,UK,PG-13,Christopher Nolan,$ 1081133191,8.3
51,1853728,Django Unchained,2013-01-17,Drama,USA,Rated,Quentin Tarantino,$ 425368238,8.3
52,0209144,Memento,2001-01-19,Mystery,USA,Rated,Christopher Nolan,$ 39970386,8.2
53,0910970,WALLÂ·E,2008-10-17,Animation,USA,PG-13,Andrew Stanton,$ 521311860,8.2
54,0081505,The Shining,1980-12-22,Drama,UK,Rated,Stanley Kubrick,$ 46520613,8.2
55,0082971,Raiders of the Lost Ark,1981-06-12,Action,USA,PG-13,Steven Spielberg,$ 390133212,8.2
56,4154756,Avengers: Infinity War,2018-04-25,Action,USA,NaN,"Anthony Russo, Joe Russo",$ 2048359754,8.2
57,0078748,Alien,1979-10-25,Horror,UK,Rated,Ridley Scott,$ 108110316,8.2
58,4154796,Avengers: Endgame,2019-04-24,Action,USA,NaN,"Anthony Russo, Joe Russo",$ 2797800564,8.2
59,0078788,Apocalypse Now,1979-12-18,Drama,USA,Rated,Francis Ford Coppola,$ 91968688,8.2
60,0364569,Oldeuboi,2005-05-06,Action,South Korea,Rated,Chan-wook Park,$ 15002116,8.1
61,0057012,Dr. Strangelove or: How I Learned to Stop Worr...,1964-04-03,Comedy,UK,PG-13,Stanley Kubrick,$ 9443876,8.1
62,0047396,Rear Window,1955-04-14,Mystery,USA,NaN,Alfred Hitchcock,$ 37032034,8.1
63,2380307,Coco,2017-12-28,Animation,USA,NaN,"Lee Unkrich, Adrian Molina",$ 807083670,8.1
64,0405094,Das Leben der Anderen,2007-04-06,Drama,Germany,Rated,Florian Henckel von Donnersmarck,$ 77356942,8.1
65,4633694,Spider-Man: Into the Spider-Verse,2018-12-25,Animation,USA,NaN,"Bob Persichetti, Peter Ramsey",$ 375540831,8.1
66,1187043,3 Idiots,2009-12-25,Comedy,India,NaN,Rajkumar Hirani,$ 60262836,8.1
67,0119698,Mononoke-hime,2000-05-19,Animation,Japan,PG-13,Hayao Miyazaki,$ 169785629,8.0
68,0087843,Once Upon a Time in America,1984-09-28,Crime,USA,Rated,Sergio Leone,$ 5472914,8.0
69,0032553,The Great Dictator,1945-06-25,Comedy,USA,NaN,Charles Chaplin,$ 969879,8.0
70,0043014,Sunset Blvd.,NaT,Drama,USA,NaN,Billy Wilder,$ 299645,8.0
71,0361748,Inglourious Basterds,2009-10-02,Adventure,Germany,Rated,Quentin Tarantino,$ 321455689,8.0
72,0169547,American Beauty,2000-01-21,Drama,USA,Rated,Sam Mendes,$ 356296601,8.0
73,0112573,Braveheart,1995-12-01,Biography,USA,Rated,Mel Gibson,$ 213216216,7.9
74,0086190,Star Wars: Episode VI - Return of the Jedi,1983-10-21,Action,USA,PG-13,Richard Marquand,$ 475347111,7.9
75,0105236,Reservoir Dogs,1992-10-09,Crime,USA,Rated,Quentin Tarantino,$ 2889963,7.9
76,0338013,Eternal Sunshine of the Spotless Mind,2004-10-22,Drama,USA,Rated,Michel Gondry,$ 74036715,7.9
77,0114709,Toy Story,1996-03-22,Animation,USA,PG-13,John Lasseter,$ 404265438,7.9
78,0119217,Good Will Hunting,1998-03-06,Drama,USA,Rated,Gus Van Sant,$ 225933435,7.8
79,0208092,Snatch,2001-03-16,Comedy,UK,Rated,Guy Ritchie,$ 83557872,7.8
80,0180093,Requiem for a Dream,2000-12-15,Drama,USA,Rated,Darren Aronofsky,$ 7390108,7.8
81,0066921,A Clockwork Orange,1972-09-07,Crime,UK,NaN,Stanley Kubrick,$ 26903440,7.8
82,0435761,Toy Story 3,2010-07-07,Animation,USA,PG-13,Lee Unkrich,$ 1066969703,7.8
83,0086250,Scarface,NaT,Crime,USA,Rated,Brian De Palma,$ 66023585,7.8
84,0075314,Taxi Driver,NaT,Crime,USA,Rated,Martin Scorsese,$ 28441292,7.7
85,0211915,Le fabuleux destin d'AmÃ©lie Poulain,2002-01-25,Comedy,France,Rated,Jean-Pierre Jeunet,$ 173924742,7.7
86,0093058,Full Metal Jacket,1987-10-09,Drama,UK,NaN,Stanley Kubrick,$ 46357676,7.7
87,0090605,Aliens,1986-09-24,Action,USA,Rated,James Cameron,$ 131384634,7.7
88,0062622,2001: A Space Odyssey,1968-12-12,Adventure,UK,PG-13,Stanley Kubrick,$ 68989547,7.6
89,0033467,Citizen Kane,1948-11-25,Drama,USA,NaN,Orson Welles,$ 1594107,7.6
90,8579674,1917,2020-01-23,Drama,USA,NaN,Sam Mendes,$ 384857224,7.6
91,0086879,Amadeus,1985-02-15,Biography,USA,Rated,Milos Forman,$ 52066791,7.6
92,0052357,Vertigo,1958-11-18,Mystery,USA,NaN,Alfred Hitchcock,$ 7796389,7.5
93,0053125,North by Northwest,1959-10-28,Adventure,USA,NaN,Alfred Hitchcock,$ 73446,7.5
94,2106476,Jagten,2012-11-22,Drama,Denmark,Rated,Thomas Vinterberg,$ 15843274,7.5
95,0056172,Lawrence of Arabia,1963-10-29,Adventure,UK,PG-13,David Lean,$ 45710874,7.5
96,0070735,The Sting,1974-03-21,Comedy,USA,PG-13,George Roy Hill,$ 156000000,7.5
97,0082096,Das Boot,1982-03-18,Adventure,Germany,Rated,Wolfgang Petersen,$ 11487676,7.5
98,0059578,Per qualche dollaro in piÃ¹,1965-12-20,Western,Italy,NaN,Sergio Leone,$ 15000000,7.4
99,1832382,Jodaeiye Nader az Simin,2011-10-21,Drama,Iran,PG-13,Asghar Farhadi,$ 22926076,7.4
100,0045152,Singin' in the Rain,1953-02-05,Comedy,USA,NaN,Stanley Donen,$ 1864182,7.4

In [29]:
#To reset
pd.reset_option('display.max_rows')

In [30]:
##To check the income column
md.income

0         $ 28815245
1        $ 246120974
2       $ 1005455211
3      $ 4o8,035,783
4        $ 222831817
           ...
96       $ 156000000
97        $ 11487676
98        $ 15000000
99        $ 22926076
100        $ 1864182
Name: income, Length: 101, dtype: object

In [31]:
#To replace the $ and trailing spaces in income column
md.income = md.income.str.lstrip('$  ')

In [32]:
md.income = md.income.str.replace(',', '')

In [33]:
md.income = md.income.str.replace('o', '0')

In [34]:
#To check the position of Nan in the cell
unique_values = md['income'].unique()
print(unique_values)

['28815245' '246120974' '1005455211' '408035783' '222831817' '1142271098'
 '322287794' '576' '869784991' '101218804' '678229452' '887934303'
 '25252481' nan '465718588' '951227416' '549265501' '46879633' '108997629'
 '696742056' '327333559' '272753884' '775768912' '482349603' '286801374'
 '30680793' '355467056' '230098753' '257604912' '6130720' '322773'
 '465361176' '291465034' '109676311' '388774684' '23875127' '19552639'
 '520884847' '23341568' '968511805' '1074251311' '426588510' '120072577'
 '48983260' '32008644' '4374761' '112911' '516962' '13826605' '457688'
 '1081133191' '425368238' '39970386' '521311860' '46520613' '390133212'
 '2048359754' '108110316' '2797800564' '91968688' '15002116' '9443876'
 '37032034' '807083670' '77356942' '375540831' '60262836' '169785629'
 '5472914' '969879' '299645' '321455689' '356296601' '213216216'
 '475347111' '2889963' '74036715' '404265438' '225933435' '83557872'
 '7390108' '26903440' '1066969703' '66023585' '28441292' '173924742'
 '46357676' '131384634' '68989547' '1594107' '384857224' '52066791'
 '7796389' '73446' '15843274' '45710874' '156000000' '11487676' '15000000'
 '22926076' '1864182']

In [35]:
## To replace the row with Nan
md.loc[13,'income']=0

In [36]:
md.income.dtypes

dtype('O')

In [37]:
#To change income from object datatype to float
md.income = md.income.astype(float)

In [38]:
##To change Income from Float datatype to Integer
md.income = md.income.astype(int)

In [39]:
md.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 101 entries, 0 to 100
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   title_id        100 non-null    object
 1   original_title  100 non-null    object
 2   release_year    97 non-null     datetime64[ns]
 3   genre           100 non-null    object
 4   country         100 non-null    object
 5   content_rating  77 non-null     object
 6   director        100 non-null    object
 7   income          101 non-null    int32
 8   score           100 non-null    object
dtypes: datetime64[ns](1), int32(1), object(7)
memory usage: 6.8+ KB

In [41]:
### To add a dollar sign $ and comma to the integer values 
md.income = md.income.apply(lambda x: '${:,.0f}'.format(x))

In [42]:
md.head(5)

,title_id,original_title,release_year,genre,country,content_rating,director,income,score
0,0111161,The Shawshank Redemption,1995-02-10,Drama,USA,Rated,Frank Darabont,"$28,815,245",9.3
1,0068646,The Godfather,1972-09-21,Crime,USA,Rated,Francis Ford Coppola,"$246,120,974",9.2
2,0468569,The Dark Knight,2008-07-23,Action,USA,PG-13,Christopher Nolan,"$1,005,455,211",9.
3,0071562,The Godfather: Part II,1975-09-25,Crime,USA,Rated,Francis Ford Coppola,"$408,035,783","9,.0"
4,0110912,Pulp Fiction,1994-10-28,Crime,USA,Rated,Quentin Tarantino,"$222,831,817","8,9f"

In [43]:
##To check the score column 
md.score.value_counts()

8.6       11
8.2        8
8.3        8
8.1        7
8.4        7
8.5        6
7.5        6
7.8        6
8.0        6
7.9        5
7.6        4
7.7        4
7.4        3
8.8        3
8.7        2
8.9        2
9.2        1
8,6        1
8,7e-0     1
8.7.       1
++8.7      1
8:8        1
8..8       1
08.9       1
8,9f       1
9,.0       1
9.         1
9.3        1
Name: score, dtype: int64

In [44]:
##To replace score values with inappropriate format
md.score.replace({'8,6':'8.6','8,7e-0':'8.7','8.7.':'8.7','++8.7':'8.7',
                     '8:8':'8.8','8..8':'8.8','08.9':'8.9','8,9f':'8.9',
                     '9,.0':'9.0','9.':'9.0'}, inplace=True)

In [45]:
md.score.dtypes

dtype('O')

In [46]:
##To change the datatype to float
md.score = md.score.astype(float)

In [47]:
md.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 101 entries, 0 to 100
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   title_id        100 non-null    object
 1   original_title  100 non-null    object
 2   release_year    97 non-null     datetime64[ns]
 3   genre           100 non-null    object
 4   country         100 non-null    object
 5   content_rating  77 non-null     object
 6   director        100 non-null    object
 7   income          101 non-null    object
 8   score           100 non-null    float64
dtypes: datetime64[ns](1), float64(1), object(7)
memory usage: 7.2+ KB

In [48]:
md.head(10)

,title_id,original_title,release_year,genre,country,content_rating,director,income,score
0,0111161,The Shawshank Redemption,1995-02-10,Drama,USA,Rated,Frank Darabont,"$28,815,245",9.3
1,0068646,The Godfather,1972-09-21,Crime,USA,Rated,Francis Ford Coppola,"$246,120,974",9.2
2,0468569,The Dark Knight,2008-07-23,Action,USA,PG-13,Christopher Nolan,"$1,005,455,211",9.0
3,0071562,The Godfather: Part II,1975-09-25,Crime,USA,Rated,Francis Ford Coppola,"$408,035,783",9.0
4,0110912,Pulp Fiction,1994-10-28,Crime,USA,Rated,Quentin Tarantino,"$222,831,817",8.9
5,0167260,The Lord of the Rings: The Return of the King,2004-02-22,Action,New Zealand,PG-13,Peter Jackson,"$1,142,271,098",8.9
6,0108052,Schindler's List,1994-03-11,Biography,USA,Rated,Steven Spielberg,"$322,287,794",8.9
7,0050083,12 Angry Men,1957-09-04,Crime,USA,Not Rated,Sidney Lumet,$576,8.9
8,1375666,Inception,2010-09-24,Action,USA,PG-13,Christopher Nolan,"$869,784,991",8.8
9,0137523,Fight Club,1999-10-29,Drama,UK,Rated,David Fincher,"$101,218,804",8.8

In [49]:
md.to_csv('Movie_Cleaned_Data.csv')